/* Basic Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: 'ArcadeClassic';
    font-weight: bold;

}

.container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0, 10px ,20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    overflow: hidden;
    position: relative;
}
/* the screens */
.screen{
    display: none;
    padding:2rem;
    text-align: center;

}
.active-screen{
    display: block;
}
/* Start-Quiz Screen */
#start-screen h1{
    color:crimson;
    margin-bottom:20px;
    font-size: 2.5rem;
}
#start-screen p{
    color: #666;
    margin-bottom: 30px;
    font-size: 1.1rem;
}
.quiz-header{
    margin-bottom: 2rem;

}

.Question-text{
    color:grey;
    font-size: 1.5 rem;
    margin-bottom: 1rem;
}
.quiz-info{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-bottom: 10px;
}
.answer-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;

}
.answer-btn{
    background: #f8efe6;
    color: #333;
    border:2px solid black;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    text-align:left;
    transition: all 0.3s ease;
}

.answer-btn:hover{
    background: #eadbc8;
    border-color:#dac0ae ;

}
.answer-btn.correct{    
    background: mediumseagreen;
    border-color: aquamarine;
    color:#28a745;


}
.answer-btn.incorrect{    
    background: mediumseagreen;
    border-color: aquamarine;
    color:crimson;
}
/* progress bar/exp-points */
.exp-bar{
    height: 10px;
    background-color: #f8f0e5;
    border-radius: 5px;
    overflow:hidden;
    margin-top: 20px;
}
.progress{
    height: 100%;
    background-color: crimson;
    width: 0%;
    transition: width 0.3s ease;
}
/* result screen */
#result-screen{
    color: crimson;
    margin-bottom: 30px;
}
.result-info{
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}
.result-info p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}
#result-message{
    font-size: 1.5rem;
    font-weight: 600;
    color: crimson;

}
/* button and button more */
button{
    background-color: crimson;
    color: wheat;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    font-family:inherit;
    
}
button:hover{
    background-color:#9f1a1a ;
}
/* adding media queries */
@media(max-width:500px){
    /* when we touch this px limit , the browser will automatcally change the layout according to the below code: */
    .screen{
        padding: 1rem;
    }
    #start-screen h1{
        font-size:2rem;
    }
    #Question-text {
        font-size: 1.3rem;
    }
    .answer-btn{
        padding: 12px;
    }
    button{
        padding: 12px 25px;
        font-size: 1rem;
        
    }
}










































































